@import '../../../App.scss';

.ITHeader {
  background-color: $primary-color;

  &__image {
    &--container {
      flex: 5;
      display: flex;
      justify-content: flex-start;
    }
    height: 40px;
  }

  &__ancoras {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    flex: 3;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
}
